.workspace {
    max-width: 1300px;
}

.desktop {
    background-size: 500%;
}



.messagedRevealed {
    width: auto;
}

.teams-app {
    flex-direction: column;
    height: auto;
}

.activity-bar {
    width: auto;
    flex-direction: row;
    justify-content: space-around;
}

.activity-bar-top {
    flex-direction: row;
}

#chatSection {
  display: flex;
  width: auto;

}

.left-sidebar {
  width: 80px;
  flex-direction: column;
}

.dm-item {
    flex-direction: column;
}
.chat-pane {
    width: auto;
    overflow: auto;
}
.chat-body {
  flex: 1;
  overflow-y: scroll;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 300px;
  overflow-x: hidden;
}

.chat-answers-box {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}